.map-container {
    width: 100%;
    height: 400px;
}


#map {
    height: 100%;
    width: 100%;
}


::ng-deep .mapbox-marker {
    cursor: pointer;
}

::ng-deep .mapbox-marker .marker-icon svg {
    width: 16px;
    height: 16px;
}

::ng-deep .marker-duplicate .marker-inside {
    transform: rotate(30deg);
    left: 10px;
}