<app-back-button></app-back-button>
<div class="page-wrap height-100 fullscreen-start-background">
  <div class="session-form-hold" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
    <mat-card class="card-transparent-80">
      <mat-card-content>
        <div class="text-center">
          <img src="assets/img/logo/logo.png" alt="" />

          <h2>{{"MENU.PRIVACY" | translate}}</h2>
          
          <button mat-raised-button color="primary" (click)="openEN()">
            {{"OPEN" | translate}} {{"MENU.PRIVACY" | translate}}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<app-legal-footer></app-legal-footer>