<h1 matDialogTitle>{{ data.title }}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="send()">
    <mat-form-field class="full-width field-icon text-white">
      <mat-icon matPrefix>person</mat-icon>
      <input matInput #input [placeholder]="'LOGIN.EMAIL.PLACEHOLDER' | translate" value="" name="email" type="email" [(ngModel)]="email">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" (click)="send()">{{"LOGIN.FORGOT_PASSWORD.SUBMIT" | translate}}</button>
  &nbsp;
  <span fxFlex></span>
  <button type="button" color="primary" mat-stroked-button (click)="dialogRef.close(false)">{{"CANCEL" | translate}}</button>
</div>